@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: NotoSansKR, system-ui, sans-serif;
    }
    input + label { font-size:1rem;line-height:1rem; color:#5B6168; cursor:pointer}
    select:hover:focus + svg,
    select:hover:focus + svg:hover:focus{transform:rotate(180deg) translateY(50%); transition:all 0.3s}
    select + svg{position:absolute; top:50%; transform:translateY(-50%); transition:all 0.3s; z-index:-1}
    
}
@layer components {
    .radio {
        position: relative; width:1.25rem;height:1.25rem; appearance: none;border-radius: 100%; border:1px solid #E9EAEB; outline:none; flex:none
    }
    .radio:hover{
        cursor:pointer
    }
    .radio:checked {
        border:1px solid #2C3036; background-color:#2C3036;
    }
    .radio:checked::before{
        content:''; position: absolute; background-color:#fff; left:50%; top:50%; transform: translate(-50%, -50%); width:0.469rem;height:0.469rem; border-radius:100%
    }
    .checkbox {
        position: relative; width:1.25rem;height:1.25rem; appearance: none;border-radius: 0.25rem; border:1px solid #E9EAEB; outline:none;        
    }
    .checkbox:hover{
        cursor:pointer
    }
    .checkbox:checked {
        border:1px solid #2C3036; background:url("/pub/img/checkbox-on.svg") no-repeat center;
    }
    .input{border:1px solid #E9EAEB; color: #090909;border-radius:0.5rem}
    .input:placeholder{color:#BCC1C5}
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    font-display: swap;
    src: url("/pub/font/NotoSansKR-Bold.woff2") format('woff2'), url("/pub/font/NotoSansKR-Bold.woff") format('woff'), url("/pub/font/NotoSansKR-Bold.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-display: swap;
    src: url("/pub/font/NotoSansKR-Medium.woff2") format('woff2'), url("/pub/font/NotoSansKR-Medium.woff") format('woff'), url("/pub/font/NotoSansKR-Medium.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-display: swap;
    src: url("/pub/font/NotoSansKR-Regular.woff2") format('woff2'), url("/pub/font/NotoSansKR-Regular.woff") format('woff'), url("/pub/font/NotoSansKR-Regular.otf") format('opentype');
}

/* 숫자,영문 */
@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Bold.woff") format('woff');
    unicode-range:U+0020-007E;
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Medium.woff") format('woff');
    unicode-range:U+0020-007E;
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Regular.woff") format('woff');
    unicode-range:U+0020-007E;
}

  
