@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: NotoSansKR, RobotoMono, system-ui, sans-serif;color:#090909
    }
    input + label { font-size:1rem;line-height:1rem; color:#5B6168; cursor:pointer}
    img{display:inline-block}
 
    [selectbox]{position:relative; display:flex}
    [selectbox]::after{content:'';width:1rem;height:1rem;background:url('/pub/img/icon-onoff.svg') no-repeat center; position:absolute; right:0.75rem; top:50%; transform:translateY(-50%)}
    [selectbox].focus::after{transform:rotate(180deg) translateY(50%);}

    [disabled]{background-color:#F5F7F8}

    :root {
    --dynamic-size: 50px;
    --arrow-size: 50px;
    --select-size: calc(var(--dynamic-size) + var(--arrow-size));
    }
    [select-sizing]{width:var(--select-size)}
    [helper-element]{position:absolute;top:0;left:-9999px}
    
}
@layer components {
    .radio {
        position: relative; width:1.25rem;height:1.25rem; appearance: none;border-radius: 100%; border:1px solid #E9EAEB; outline:none; flex:none
    }
    .radio:hover{
        cursor:pointer
    }
    .radio:checked {
        border:1px solid #2C3036; background-color:#2C3036;
    }
    .radio:checked::before{
        content:''; position: absolute; background-color:#fff; left:50%; top:50%; transform: translate(-50%, -50%); width:0.469rem;height:0.469rem; border-radius:100%
    }
    .checkbox {
        position: relative; width:1.25rem;height:1.25rem; appearance: none;border-radius: 0.25rem; border:1px solid #E9EAEB; outline:none;        
    }
    .checkbox:hover{
        cursor:pointer
    }
    .checkbox:checked {
        border:1px solid #2C3036; background:url("/pub/img/checkbox-on.svg") no-repeat center;
    }
    .input{border:1px solid #E9EAEB; color: #090909;border-radius:0.5rem}
    .input:placeholder{color:#BCC1C5}

    
    
    [acc-tit] + .accordionContent{display:none}
    [acc-tit].is-open + .accordionContent{display:block}

    .bg-main{background:linear-gradient(47deg, #EAF6FF 16.38%, #FCF3EA 100%);}

    /* apply  */
    .btn-medium{
        @apply flex items-center h-10 py-3 px-5 rounded-md text-14 font-medium leading-full
    }
    .tab-line{
        @apply min-w-[160px] min-h-10 cursor-pointer flex items-center justify-center text-gray-500 font-medium border border-[#E7E9EB] border-b-white -ml-px
    }
    .page-btn{
        @apply block w-9 h-9 leading-9 text-center text-14 text-gray-700 rounded-full hover:bg-dark hover:font-bold
    }
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    font-display: swap;
    src: url("/pub/font/NotoSansKR-Bold.woff2") format('woff2'), url("/pub/font/NotoSansKR-Bold.woff") format('woff'), url("/pub/font/NotoSansKR-Bold.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-display: swap;
    src: url("/pub/font/NotoSansKR-Medium.woff2") format('woff2'), url("/pub/font/NotoSansKR-Medium.woff") format('woff'), url("/pub/font/NotoSansKR-Medium.otf") format('opentype');
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-display: swap;
    src: url("/pub/font/NotoSansKR-Regular.woff2") format('woff2'), url("/pub/font/NotoSansKR-Regular.woff") format('woff'), url("/pub/font/NotoSansKR-Regular.otf") format('opentype');
}


/* 숫자,영문 */
@font-face {
    font-family: "RobotoMono";
    font-weight: 600;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Bold.woff") format('woff');
}
@font-face {
    font-family: "RobotoMono";
    font-weight: 500;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Medium.woff") format('woff');
}
@font-face {
    font-family: "RobotoMono";
    font-weight: 400;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Regular.woff") format('woff');
}


/* 숫자,영문 자동반영 */
@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Bold.woff") format('woff');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Medium.woff") format('woff');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-display: swap;
    src: url("/pub/font/RobotoMono-Regular.woff") format('woff');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}