*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}


html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
  }

input + label {font-size:1rem;line-height:1rem; color:#5B6168; cursor:pointer}
img{display:inline-block}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}

textarea {resize: vertical;border:1px solid var(--border-line);border-radius: 8px;padding:12px 16px; width:100%;font-size: 14px;}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;  
}
img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

html {
  font-family: NotoSansKR, RobotoMono, system-ui, sans-serif;
  color:#090909;
}

input + label {
  font-size:1rem;
  line-height:1rem;
  color:#5B6168;
  cursor:pointer
}



:root {
  --dynamic-size: 50px;
  --arrow-size: 50px;
  --select-size: calc(var(--dynamic-size) + var(--arrow-size));
  --border-line: #E9EAEB;
  --primary-blue: #3A8DFD;
}

[select-sizing]{
  width:var(--select-size)
}

[helper-element]{
  position:absolute;
  top:0;
  left:-9999px
}



::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

[selectbox] {
  position: relative;
  display: flex;
}
select {
  display: block;
  height: 2.5rem;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 8px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(233 234 235 / var(--tw-border-opacity));
  background-color: transparent;
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 14px;
  --tw-text-opacity: 1;
  color: rgb(9 9 9 / var(--tw-text-opacity));
}

[disabled] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 248 / var(--tw-bg-opacity));
}

.radio {
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  flex: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(233 234 235 / var(--tw-border-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.radio:hover,
    .checkbox:hover {
  cursor: pointer;
}

.radio:checked {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(44 48 54 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(44 48 54 / var(--tw-bg-opacity));
}

.radio:checked::before{
  content:'';
  position: absolute;
  background-color:#fff;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  width:0.469rem;
  height:0.469rem;
  border-radius:100%
}

.checkbox {
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  flex: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(233 234 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.checkbox:checked {
  --tw-border-opacity: 1;
  border-color: rgb(44 48 54 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(44 48 54 / var(--tw-bg-opacity));
  background-image: url('/pub/img/checkbox-on.svg');
  background-position: center;
}

.input {
  height: 2.5rem;
  border-radius: 8px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(233 234 235 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 14px;
}

.input:placeholder{
  color:#BCC1C5
}

[acc-tit] + .accordionContent{
  display:none
}

[acc-tit].is-open + .accordionContent{
  display:block
}

.bg-main{
  background:linear-gradient(47deg, #EAF6FF 16.38%, #FCF3EA 100%);
}

/* apply  */

.location {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(114 122 130 / var(--tw-text-opacity));
}

.location span + span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.location span + span::before{
  content:'';
  background: url(/pub/img/arr-right.svg) no-repeat center;
  display: block;
  height: 0.75rem;
  width: 0.75rem
}



.tit-tbl-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tit-tbl-header h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}
/* button */

[class^="btn"] {
  display: flex;
  align-items: center;
}

.btn-xsmall {
  height: 1.25rem;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 12px;
  font-weight: 500;
}

.btn-small {
  height: 1.5rem;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 12px;
  font-weight: 500;
}

.btn-medium {
  height: 34px;
  border-radius: 6px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 14px;
  font-weight: 500;
}

.btn-large {
  height: 2.5rem;
  border-radius: 6px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 16px;
  font-weight: 500;
}

.btn-xlarge {
  height: 3rem;
  justify-content: center;
  border-radius: 8px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 16px;
  font-weight: 700;
}

[class^="btn"].line-dark {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(9 9 9 / var(--tw-border-opacity));
}

[class^="btn"].line-gray {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(233 234 235 / var(--tw-border-opacity));
}

[class^="btn"].line-blue {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(58 141 253 / var(--tw-border-opacity));
}

[class^="btn"].navy {
  --tw-bg-opacity: 1;
  background-color: rgb(8 47 122 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* tab */

[tab-list] li span {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(138 145 154 / var(--tw-text-opacity));
}

[tab-list] li.on span {
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(9 9 9 / var(--tw-border-opacity));
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(9 9 9 / var(--tw-text-opacity));
}

[tab-list] .tab-line {
  margin-left: -1px;
  display: flex;
  min-height: 40px;
  min-width: 160px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: rgb(231 233 235 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(138 145 154 / var(--tw-text-opacity));
}

[tab-list] .tab-line span {
  display: flex;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

[tab-list] .tab-line.on {
  z-index: 10;
  margin-bottom: -1px;
  border-bottom-width: 1px;
  border-color: rgb(9 9 9 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(9 9 9 / var(--tw-text-opacity));
}

[tab-list] .tab-line.on span {
  border-bottom-width: 0px;
}

.depth-type li span {
  display: flex;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 14px;
}

.depth-type li {
  min-width: 120px;
}

.depth-type li.on span {
  z-index: 10;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(58 141 253 / var(--tw-border-opacity));
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(58 141 253 / var(--tw-text-opacity));
}

.page-btn {
  display: block;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 9999px;
  text-align: center;
  font-size: 14px;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgb(68 73 78 / var(--tw-text-opacity));
}

.page-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(240 242 244 / var(--tw-bg-opacity));
  font-weight: 700;
}

.datepicker {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.open-calendar {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background:url(/pub/img/icon-calendar.svg) no-repeat center;
}

.flex-item {
  display: flex;
  width: 25%;
  align-items: center;
  gap: 1rem;
}

.flex-item dd {
  flex: 1 1 0%;
}

.flex-item.mix {
  width: calc(50% + 130px);
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* table */

.table-wrap {
  overflow: auto;
}

.table-data {
  width: 100%;
  white-space: nowrap;
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(68 73 78 / var(--tw-border-opacity));
}

.table-data th {
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 250 / var(--tw-bg-opacity));
}

.table-data th,
    .table-data td {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(233 234 235 / var(--tw-border-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
}

.table-data td {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(44 48 54 / var(--tw-text-opacity));
}

.table-data [selectbox] {
  align-items: center;
  justify-content: center;
}

.table-data [selectbox]::after{
  background:url('/pub/img/icon-onoff2.svg') no-repeat center;
}

.table-data select {
  height: 1.25rem;
  width: auto;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 1.25rem;
}

.open-extend {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  flex: none;
  background:url('/pub/img/icon-onoff-w.svg') no-repeat center;
}

.toggle-body {
  margin-top: 0.75rem;
  display: flex;
  min-height: 32px;
  width: 560px;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgb(68 73 78 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.toggle-body.open .toggle-content {
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none;
}

.toggle-body.open .open-extend {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.toggle-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 12px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* popup */

.layer-tooltip {
  visibility: hidden;
  position: absolute;
  top: 8rem;
  right: 0px;
  z-index: 30;
  display: flex;
  width: 380px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.pops-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.progress {
  display: block;
  height: 0.5rem;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.progress::-webkit-progress-bar {
  border-radius: 8px;
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity));
}

.progress::-webkit-progress-value {
  border-radius: 8px;
  --tw-bg-opacity: 1;
  background-color: rgb(58 141 253 / var(--tw-bg-opacity));
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.-left-5 {
  left: -1.25rem;
}

.-top-1 {
  top: -0.25rem;
}

.bottom-6 {
  bottom: 1.5rem;
}

.bottom-7 {
  bottom: 1.75rem;
}

.left-0 {
  left: 0px;
}

.left-3 {
  left: 0.75rem;
}

.left-6 {
  left: 1.5rem;
}

.right-5 {
  right: 1.25rem;
}

.right-6 {
  right: 1.5rem;
}

.right-\[-5px\] {
  right: -5px;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-\[-3px\] {
  top: -3px;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.m-auto {
  margin: auto;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.\!-ml-2 {
  margin-left: -0.5rem !important;
}

.-ml-3 {
  margin-left: -0.75rem;
}

.-ml-3\.5 {
  margin-left: -0.875rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-40{margin-bottom:40px}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-1\.5 {
  margin-left: 0.375rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-2\.5 {
  margin-left: 0.625rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mt-0 {
  margin-top: 0px;
}

.mt-0\.5 {
  margin-top: 0.125rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-15 {
  margin-top: 60px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-25 {
  margin-top: 100px;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.\!h-\[initial\] {
  height: initial !important;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-13 {
  height: 50px;
}

.h-15 {
  height: 60px;
}

.h-20 {
  height: 5rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[207px\] {
  height: 207px;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[3\.125rem\] {
  height: 3.125rem;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.max-h-\[90vh\] {
  max-height: 90vh;
}

.min-h-15 {
  min-height: 60px;
}

.w-1\/2 {
  width: 50%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-24 {
  width: 6rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-\[106px\] {
  width: 106px;
}

.w-\[1320px\] {
  width: 1320px;
}

.w-\[360px\] {
  width: 360px;
}

.w-\[420px\] {
  width: 420px;
}

.w-\[464px\] {
  width: 464px;
}

.w-\[calc\(100\%\+16px\)\] {
  width: calc(100% + 16px);
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-4 {
  min-width: 16px;
}

.min-w-\[130px\] {
  min-width: 130px;
}

.min-w-\[150px\] {
  min-width: 150px;
}

.min-w-\[48px\] {
  min-width: 48px;
}

.min-w-\[80px\] {
  min-width: 80px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-none {
  flex: none;
}

.-translate-y-2\/4 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-15 {
  gap: 60px;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-none {
  border-style: none;
}

.border-\[\#D3D7D9\] {
  --tw-border-opacity: 1;
  border-color: rgb(211 215 217 / var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(188 193 197 / var(--tw-border-opacity));
}

.border-gray-600 {
  --tw-border-opacity: 1;
  border-color: rgb(114 122 130 / var(--tw-border-opacity));
}

.border-gray-line {
  --tw-border-opacity: 1;
  border-color: rgb(233 234 235 / var(--tw-border-opacity));
}

.border-primary-blue {
  --tw-border-opacity: 1;
  border-color: rgb(58 141 253 / var(--tw-border-opacity));
}

.border-primary-dark {
  --tw-border-opacity: 1;
  border-color: rgb(9 9 9 / var(--tw-border-opacity));
}

.border-primary-err {
  --tw-border-opacity: 1;
  border-color: rgb(234 25 23 / var(--tw-border-opacity));
}

.border-b-primary-blue {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(58 141 253 / var(--tw-border-opacity));
}

.border-t-gray-line {
  --tw-border-opacity: 1;
  border-top-color: rgb(233 234 235 / var(--tw-border-opacity));
}

.bg-\[\#37A884\]\/10 {
  background-color: rgb(55 168 132 / 0.1);
}

.bg-\[\#8350C6\]\/10 {
  background-color: rgb(131 80 198 / 0.1);
}

.bg-\[\#C5D0D8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(197 208 216 / var(--tw-bg-opacity));
}

.bg-\[\#E3F4FD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(227 244 253 / var(--tw-bg-opacity));
}

.bg-\[\#F9FAFB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 248 / var(--tw-bg-opacity));
}

.bg-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(169 179 188 / var(--tw-bg-opacity));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-box-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 250 / var(--tw-bg-opacity));
}

.bg-primary-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(58 141 253 / var(--tw-bg-opacity));
}

.bg-primary-blue\/10 {
  background-color: rgb(58 141 253 / 0.1);
}

.bg-primary-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(9 9 9 / var(--tw-bg-opacity));
}

.bg-primary-err {
  --tw-bg-opacity: 1;
  background-color: rgb(234 25 23 / var(--tw-bg-opacity));
}

.bg-primary-navy {
  --tw-bg-opacity: 1;
  background-color: rgb(8 47 122 / var(--tw-bg-opacity));
}

.bg-primary-woori {
  --tw-bg-opacity: 1;
  background-color: rgb(0 103 172 / var(--tw-bg-opacity));
}

.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgb(240 54 13 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-yellow-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity));
}

.bg-none {
  background-image: none;
}

.bg-radio-check {
  background-image: url('/pub/img/radio-check.svg');
}

.bg-center {
  background-position: center;
}

.\!text-left {
  text-align: left !important;
}

.text-center {
  text-align: center;
}

.\!text-right {
  text-align: right !important;
}

.text-right {
  text-align: right;
}

.\!text-16 {
  font-size: 16px !important;
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-28 {
  font-size: 28px;
}

.text-32 {
  font-size: 32px;
}

.text-40 {
  font-size: 40px;
}

.text-10 {
  font-size: 10px;
}

.text-13px {
  font-size: 13px;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.tracking-4 {
  letter-spacing: -0.4px;
}

.text-\[\#37A884\] {
  --tw-text-opacity: 1;
  color: rgb(55 168 132 / var(--tw-text-opacity));
}

.text-\[\#5A6E7C\] {
  --tw-text-opacity: 1;
  color: rgb(90 110 124 / var(--tw-text-opacity));
}

.text-\[\#8350C6\] {
  --tw-text-opacity: 1;
  color: rgb(131 80 198 / var(--tw-text-opacity));
}

.text-\[\#F0360D\] {
  --tw-text-opacity: 1;
  color: rgb(240 54 13 / var(--tw-text-opacity));
}

.text-\[\#FEF4A0\] {
  --tw-text-opacity: 1;
  color: rgb(254 244 160 / var(--tw-text-opacity));
}

.text-\[\#FFF494\] {
  --tw-text-opacity: 1;
  color: rgb(255 244 148 / var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(188 193 197 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(164 170 176 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(138 145 154 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(114 122 130 / var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(68 73 78 / var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(44 48 54 / var(--tw-text-opacity));
}

.text-primary-blue {
  --tw-text-opacity: 1;
  color: rgb(58 141 253 / var(--tw-text-opacity));
}

.text-primary-dark {
  --tw-text-opacity: 1;
  color: rgb(9 9 9 / var(--tw-text-opacity));
}

.text-primary-err {
  --tw-text-opacity: 1;
  color: rgb(234 25 23 / var(--tw-text-opacity));
}

.text-primary-woori {
  color: #0067AC;
}

.text-red {
  --tw-text-opacity: 1;
  color: rgb(240 54 13 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-85 {
  opacity: .85;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-blue {
  --tw-shadow: 0px 8px 20px 0px rgba(58, 141, 253, 0.48);;
  --tw-shadow-colored: 0px 8px 20px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-card {
  --tw-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);;
  --tw-shadow-colored: 0px 4px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-search {
  --tw-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);;
  --tw-shadow-colored: 0px 2px 12px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.outline {
  outline-style: solid;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-0 {
  transition-delay: 0s;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "NotoSansKR";

  font-weight: 600;

  font-display: swap;

  src: url("/pub/font/NotoSansKR-Bold.woff2") format('woff2'), url("/pub/font/NotoSansKR-Bold.woff") format('woff'), url("/pub/font/NotoSansKR-Bold.otf") format('opentype');
}

@font-face {
  font-family: "NotoSansKR";

  font-weight: 500;

  font-display: swap;

  src: url("/pub/font/NotoSansKR-Medium.woff2") format('woff2'), url("/pub/font/NotoSansKR-Medium.woff") format('woff'), url("/pub/font/NotoSansKR-Medium.otf") format('opentype');
}

@font-face {
  font-family: "NotoSansKR";

  font-weight: 400;

  font-display: swap;

  src: url("/pub/font/NotoSansKR-Regular.woff2") format('woff2'), url("/pub/font/NotoSansKR-Regular.woff") format('woff'), url("/pub/font/NotoSansKR-Regular.otf") format('opentype');
}

/* 숫자,영문 자동반영 */

@font-face {
  font-family: "NotoSansKR";

  font-weight: 600;

  font-display: swap;

  src: url("/pub/font/RobotoMono-Bold.woff") format('woff');

  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "NotoSansKR";

  font-weight: 500;

  font-display: swap;

  src: url("/pub/font/RobotoMono-Medium.woff") format('woff');

  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "NotoSansKR";

  font-weight: 400;

  font-display: swap;

  src: url("/pub/font/RobotoMono-Regular.woff") format('woff');

  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

.placeholder\:text-gray-300::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(188 193 197 / var(--tw-text-opacity));
}

.placeholder\:text-gray-300::placeholder {
  --tw-text-opacity: 1;
  color: rgb(188 193 197 / var(--tw-text-opacity));
}

.placeholder\:text-gray-500::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(138 145 154 / var(--tw-text-opacity));
}

.placeholder\:text-gray-500::placeholder {
  --tw-text-opacity: 1;
  color: rgb(138 145 154 / var(--tw-text-opacity));
}

.before\:pointer-events-none::before {
  content: '';
  pointer-events: none;
}

.before\:absolute::before {
  content: '';
  position: absolute;
}

.before\:left-\[-24px\]::before {
  content: '';
  left: -24px;
}

.before\:top-0::before {
  content: '';
  top: 0px;
}

.before\:h-full::before {
  content: '';
  height: 100%;
}

.before\:w-6::before {
  content: '';
  width: 1.5rem;
}

.before\:bg-white::before {
  content: '';
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.after\:z-\[-1\]::after {
  content: '';
  z-index: -1;
}

.checked\:border-disabled:checked {
  --tw-border-opacity: 1;
  border-color: rgb(245 247 248 / var(--tw-border-opacity));
}

.checked\:bg-disabled:checked {
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 248 / var(--tw-bg-opacity));
}

.checked\:bg-checkbox-d:checked {
  background-image: url('/pub/img/checkbox-d.svg');
}

.checked\:bg-radio-check-on:checked {
  background-image: url('/pub/img/radio-check-on.svg');
}

.checked\:bg-center:checked {
  background-position: center;
}

.checked\:before\:content-none:checked::before {
  --tw-content: none;
  content: '';
}

.hover\:-translate-y-2:hover {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:-translate-y-2\.5:hover {
  --tw-translate-y: -0.625rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:border-white:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:bg-primary-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(58 141 253 / var(--tw-bg-opacity));
}

.hover\:shadow-card-blue:hover {
  --tw-shadow: 0px 4px 10px 0px rgba(58, 141, 253, 0.48);;
  --tw-shadow-colored: 0px 4px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-card-w:hover {
  --tw-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);;
  --tw-shadow-colored: 0px 4px 20px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:border-primary-err:focus {
  --tw-border-opacity: 1;
  border-color: rgb(234 25 23 / var(--tw-border-opacity));
}

.group:hover .group-hover\:border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.group:hover .group-hover\:bg-transparent {
  background-color: transparent;
}

.group:hover .group-hover\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}

.group:hover .group-hover\:fill-primary-blue {
  fill: #3A8DFD;
}

.group:hover .group-hover\:text-primary-woori {
  --tw-text-opacity: 1;
  color: rgb(0 103 172 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}